* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   // outline: 1px solid red;
}

body {
   background-color: $bg-color;
   font-family: $font-stack;
   font-size: 1rem;
   font-weight: weight(regular);
   line-height: 1.6;
   height: 100vh;
   color: $secondary-color;
}

h1, h2, h3 {
   font-weight: weight(bold);
}

h2 {
   font-size: 1.9em;
   margin: 2rem 0;
}

h3 {
   font-size: 1.5em;
   margin: 1rem 0 .5rem;
}

a {
   color: $secondary-color;
   text-decoration: none;
   display: inline-flex;
   transition: .25s;
   font-size: 1.1rem;

   &:hover {
      color: $hover-main-color;
   }
}

svg {
   width: 1em;
   height: 1em;
   position: relative;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

.container-fill {
   max-width: 1920px;
   margin: 0 auto;
   padding: 0 16px;
}

.hide {
   display: none;
}

.success {
   margin: 30px auto;
   font-size: 30px;
   font-weight: weight(bold);
   color: #2dd36f;
   text-align: center;
}

.line-heigh {
   line-height: 3rem;
}

.world-wrap {
   white-space: nowrap;
}

.title-square {
   @include flexCenter(column);
   position: relative;
   min-height: 11rem;
   text-align: center;

   &::before {
      @include size(94px, 150px);
      border: 5px solid #e9ecef;
      border-radius: 8px; 
   }
   .title-square__small {
      z-index: 1;
      font-size: 15px;
      font-weight: weight(regular);
      color: #6c757d;
   }
   .title-square__main {
      z-index: 1;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: weight(bold);
   }
}
.title-square::before,
.title-square::after {
   @include positionLeft(absolute, 13px, 50%, 0);
   content: '';
   transform: translate(-50%, 0);
}
