.cart-added-list {
   position: fixed;
   z-index: 10;
   bottom: 30px;
   right: 30px;

   .cart-added-list__btn,
   .cart-added-list__item-list,
   .cart-added-list__item-btn-plus::before,
   .cart-added-list__item-btn-minus::before,
   .cart-added-list__item-title-link {
   transition: .25s;
}

   .cart-added-list__btn {
      @include flexCenter(row);
      @include size(50px, 50px);
      background-color: #000;
      color: #fff;
      border: 1px solid transparent;
      border-radius: 50%;
      font-size: 22px;
      position: relative;
      z-index: 2;
      outline: none;

      &:hover {
         background-color: #6C798E;
      }
      &:focus {
         box-shadow: 0 0 0 5px rgba(216, 217, 219, 0.5);
      }

      .icon-cart-bag {
         font-size: 22px;
         position: absolute;
      }
   }

   .cart-added-list__item-list {
      width: 18.75rem;
      bottom: 2rem;
      right: 1.4rem;
      position: absolute;
      background-color: #fff;
      box-shadow: $box-shadow-main;
      padding: 15px;
      border-radius: 15px;
      max-height: 300px;
      overflow-y: auto;

      .cart-added-list__item {
         position: relative;
         @include flexStart(row);
         gap: 1rem;
         min-height: 4.125rem;
         margin: 1rem 0 .75rem 0;
         padding-bottom: 12px;
         border-bottom: 1px solid #dedede;
         &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
         }

         .cart-added-list__item-img {
            max-width: 5rem;
            max-height: 4.125rem;
            border-radius: 6px;
            display: block;
         }

         .cart-added-list__item-text-hold {
            padding-right: 21px;
            width: 100%;

            .cart-added-list__item-title-link {
               color: #000000;
               line-height: 1.18;
               font-size: 14px;
               font-weight: weight(medium);
               display: block;
               white-space: nowrap;
               text-overflow: ellipsis;
               overflow: hidden;
               max-width: 150px;
               margin-bottom: 2px;
               &:hover {
                  color: $hover-main-color;
               }
            }

            .cart-added-list__item-meta-list {
               @include flexStart(column);

               .cart-added-list__item-meta {
                  color: #6C798E;
                  font-size: 12px;
                  font-weight: weight(regular);
               }
            }
         }

         .cart-added-list__item-btn-delete,
         .cart-added-list__item-btn-plus,
         .cart-added-list__item-btn-minus {
            cursor: pointer;
            position: absolute;
            border: none;
         }
         
         .cart-added-list__item-btn-plus,
         .cart-added-list__item-btn-minus {
            font-size: 1.1rem;
            color: #6C798E;
            background-color: transparent;
         }
         
         .cart-added-list__item-btn-delete {
            @include size(21px, 21px);
            border-radius: 6px 0 7px 0;
            &:hover {
               color: #ff4d4d;
            }
         }
         
         .cart-added-list__item-btn-plus {
            top: 0;
            right: 0;
         }
         
         .cart-added-list__item-btn-minus {
            top: 46px;
            right: 0;
         }

         .cart-added-list__item-count {
            @include positionRight(absolute, 20px, 3px, 0);
            font-size: 1rem;
            font-weight: weight(medium);
            color: #6C798E;
            text-align: center;
         }
      }
   }
   
}