header {
   width: 100%;
   margin-top: 3rem;
   .navigation__hold {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .navigation__left,
      .navigation__right {
         width: 26.8rem;
         max-width: 40%;
      }

      .navigation__left {
         position: relative;
         .menu-btn {
            @include positionLeft(absolute, -7px, 1px, 1);
            @include transition-ease;
            @include size(28px, 20px);
            display: none;
            cursor: pointer;
            
            &__burger {
               @include positionRight(absolute, .5rem, 0, 0);
               @include transition-ease;
               @include size(28px, 3px);
               background-color: $secondary-color;

               &::before {
                  content: '';
                  @include positionLeft(absolute, -8px, 0, 0);
                  @include transition-ease;
                  @include size(28px, 3px);
                  background-color: $secondary-color;
               }
         
               &::after {
                  @include positionLeft(absolute, 8px, 0, 0);
                  @include transition-ease;
                  @include size(20px, 3px);
                  content: '';
                  background-color: $secondary-color;
               }

               &.open {
                  transform: rotate(720deg);
                  background-color: transparent;

                  &::before {
                     transform: rotate(45deg) translate(5px, 8px);
                  }
         
                  &::after {
                     width: 28px;
                     transform: rotate(-45deg) translate(3px, -7px);
                  }
               }
            }
         }
         .menu-nav {
            display: flex;
            gap: 1rem;
         }

      }

      .navigation__right {
         .navigation__item-list {
            display: flex;
            justify-content: flex-end;
            column-gap: 1.8rem;

            .navigation__item-link {
               display: flex;
               text-align: center;
               justify-content: flex-end;
               position: relative;

               &:hover {
                  transform: scale(1.15);
               }
            }
         }
      }

      .navigation__middle {
         width: 8.75rem;
         text-align: center;
      }
   }
}

.logo {
   font-size: 1.7rem;
   font-weight: weight(bold);
   white-space: nowrap;
   transform: scale(1);
   
   &:hover {
      transform: scale(1.1);
   }
}
