header {
   @include positionTopLeft(fixed, 0, 0, 9);
   width: 100%;
   background-color: $secondary-bg-color;
   box-shadow: $box-shadow-main;
   .navigation__hold {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem .8rem;
      .navigation__left,
      .navigation__right {
         width: 26.8rem;
         max-width: 40%;
      }
      .navigation__left {
         position: relative;
         .menu-btn {
            @include positionTopLeft(absolute, -7px, 1px, 1);
            @include transition-ease;
            @include size(1.75rem, 1.25rem);
            display: none;
            cursor: pointer;
            &__burger {
               @include positionTopRight(absolute, .5rem, 0, 0);
               @include transition-ease;
               @include size(1.75rem, 3px);
               background-color: $secondary-color;
               &::before {
                  content: '';
                  @include positionTopLeft(absolute, -.5rem, 0, 0);
                  @include transition-ease;
                  @include size(1.75rem, 3px);
                  background-color: $secondary-color;
               }
               &::after {
                  @include positionTopLeft(absolute, .5rem, 0, 0);
                  @include transition-ease;
                  @include size(1.25rem, 3px);
                  content: '';
                  background-color: $secondary-color;
               }
               &.open {
                  transform: rotate(720deg);
                  background-color: transparent;
                  &::before {
                     transform: rotate(45deg) translate(5px, .5rem);
                  }
                  &::after {
                     width: 1.75rem;
                     transform: rotate(-45deg) translate(3px, -7px);
                  }
               }
            }
         }
         .menu-nav {
            display: flex;
            gap: 1rem;
         }
      }
      .navigation__right {
         .navigation__item-list {
            display: flex;
            justify-content: flex-end;
            column-gap: 1.2rem;
            .navigation__item-link {
               display: flex;
               text-align: center;
               justify-content: flex-end;
               position: relative;
               &:hover {
                  transform: scale(1.15);
               }
               .icon-search {
                  font-size: 1em;
                  position: relative;
                  top: 2px;
               }
               .icon-cart-bag {
                  @include size(1.2em, 1.2em);
               }
            }
            .theme-toggle {
               .icon-theme {
                  width: 1.875rem;
                  cursor: pointer;
               }
            }
         }
      }
      .navigation__middle {
         width: 8.75rem;
         text-align: center;
      }
   }
}

.logo {
   font-size: 1.7rem;
   font-weight: weight(bold);
   white-space: nowrap;
   transform: scale(1);
   &:hover {
      transform: scale(1.1);
   }
}
