.order-page {
   .flex-holder {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: .9rem;
      .page-content-order,
      .page-content-info {
         width: 49%;
         background-color: #f4f4f4;
         padding: 1.9rem;
         border-radius: .5rem;
         box-shadow: $box-shadow-main;
      }
      .page-content-info {
         .cart-ordered-list__item {
            display: flex;
            gap: 1.25rem;
            margin-bottom: 1rem;
            .cart-ordered-list__item-img-hold {
               @include size(10.6rem, 31%);
               border-radius: .5rem;
               .cart-ordered-list__item-img {
                  width: 100%;
                  border-radius: .5rem;
                  overflow: hidden;
               }
            }
            .cart-ordered-list__item-text-hold {
               width: 18.75rem;
               margin-top: .625rem;
            }
         }
      }
      .page-content-order {
         p {
            margin-bottom: 1rem;
         }
         .order-form {
            display: flex;
            flex-direction: column;
            row-gap: 1.56rem;
            width: 100%;
            .form-group {
               padding: 0 1rem;
            }
            input,
            textarea {
               @include size(100%, 1.9rem);
               display: block;
               border: none;
               outline: none;
               border-radius: .5rem;
            }
            textarea {
               height: 5rem;
            }
            label {
               line-height: 2;
            }
            .btn,
            .form-group {
               width: 100%;
               margin: 0 auto;
            }
         }
      }
   }
}

.cart-empty-icon-holder {
   width: 40%;
   margin: 2.2rem 0;
}

.cart-empty-icon {
   width: 100%;
}