@include media-md {
   header {
      .navigation__hold {
         .navigation__left {
            .menu-btn {
               display: block;
            }
            .nav {
               position: relative;
               .menu-nav {
                  @include positionLeft(absolute, 19px, 23px, 4);
                  transition: 0.25s;
                  flex-direction: column;
                  opacity: 1;
                  transform: scale(0);
                  padding: 2rem;
                  background-color: #ffffff;
                  min-width: 12rem;
                  box-shadow: $box-shadow-main;
                  border-radius: 15px;
               }
               .show {
                  opacity: 1;
                  transform: scale(100%);
               }
            }
         }
      }
   }
} 

@include media-sm {
   .catalog__header {
      flex-direction: column;
      align-items: center;

      .catalog__text-holder {
         order: -1;
      }
   }

   .tel,
   .email {
      strong {
         display: none;
      }
   }

   footer {
      .navbar-nav {
         flex-direction: column;
      }
   }
}