@include media-md {
   header {
      .navigation__hold {
         .navigation__left {
            .menu-btn {
               display: block;
            }
            .nav {
               position: relative;
               .menu-nav {
                  position: absolute;
                  top: 19px;
                  left: 23px;
                  transition: 0.25s;
                  flex-direction: column;
                  opacity: 1;
                  transform: scale(0);
                  padding: 2rem;
                  background-color: #ffffff;
                  min-width: 12rem;
                  z-index: 4;
                  box-shadow: 0 5px 22px 0 rgba(208, 219, 229, .62), 0 2px 3px 0 rgba(107, 132, 160, .18), 0 5px 5px 0 rgba(237, 239, 242, .36);
                  border-radius: 15px;
               }
               .show {
                  opacity: 1;
                  transform: scale(100%);
               }
            }
         }
      }
   }
} 

@include media-sm {
   .catalog__header {
      flex-direction: column;
      align-items: center;

      .catalog__text-holder {
         order: -1;
      }
   }

   footer {
      .navbar-nav {
         flex-direction: column;
      }
   }
}